.navbar_container{
    height: 60px;
    max-height: 70px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.navbar{
    width: 1300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{ 
    .app-name{
        font-size: 20px;
        width: 100%;
    }

    .menu{}

    .links{
        padding: 0;
        display: flex;
    }

    .links li{
        list-style: none;
    }
    
    .links li:not(:last-child){
        margin-right: 15px;
    }

    .links li a:hover{
        font-weight: bold;
        text-shadow: 8px 4px 4px rgba(0, 0, 0, 0.3);
        transition: all 0.2s ease-in-out;
        font-weight: bold;
    }

    .slide_menu{

    }
    
    #signin_btn{
        min-width: 80px;
        aspect-ratio: 2/1;
    }
    
    .profile-icon{
        height: 70%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }
    
    .profile-icon .profile-image, a{
        height: 100%;
        object-fit: cover;
    }
}
