.home_container{
    position: relative;
}

.greeting{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1900px) {
    body{
        font-size: 18px;
    }
}
